* {
  margin: 0px;
  padding: 0px;
}

html{
  background-color:crimson;
}

.App {
  padding: 20px;
  color: #007bff;
}

.card-img-top{
  padding: 10px;
}

.cardContainer{
  padding: 20px;
  float:left;
}

.card{
  background-image: linear-gradient(to bottom right, rgb(103 208 255), rgb(202 211 255));
  width: 9rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



